@use 'variables' as *;  
@use 'typography' as *; 
@use "sass:color";

a {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-decoration: none;
    color: $color-text;
    margin-bottom: 0.5rem;
    padding: 0.5rem 0;
    cursor: pointer;
    user-select: none;

    &.active { color: $color-primary; }

    &:hover { color: $color-primary; }

    .item-left {
    display: flex;
    align-items: center;

    svg { margin-right: 0.75rem; }
    .text h3 { margin: 0; font-size: 1rem; font-weight: 500; }
    .text p { margin: 0; font-size: 0.8rem; opacity: 0.7; }
    }

    .arrow svg { fill: $color-text; }
}

hr {
    border: none;
    border-top: 1px solid rgba($color-text, 0.2);
    margin: 0.75rem 0;
}