@use 'variables' as *;
@use "sass:color";

.modal-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9999;
  animation: fadeIn 0.25s ease-in-out;
}

.modal-content {
  background: $color-bg-secundary;
  border-radius: 12px;
  width: 90%;
  max-width: 450px;
  padding: 2rem;
  text-align: center;
  box-shadow: 0px 0px 4px rgba($color-primary, 0.4);
  animation: fadeInUp 0.25s ease-in-out;
}

h2 {
  margin-bottom: 2rem;
  font-size: 1.2rem;
  font-weight: 600;
  color: $color-text;
}

.input-modal {
  width: 100%;
  padding: 0.6rem 0;
  background: transparent;
  border: none;
  border-bottom: 1px solid $color-text-secundary;
  color: $color-text;
  font-size: 1rem;
  margin-bottom: 2rem;
  outline: none;

  &::placeholder {
    color: $color-text-secundary;
    opacity: 0.7;
  }

  &:focus {
    border-bottom: 2px solid $color-primary;
    outline: none;
    box-shadow: none;
  }

  &:focus-visible {
    outline: none;
  }
}

.modal-actions {
  display: flex;
  justify-content: end;
  gap: 2rem;

  button {
    background: none;
    border: none;
    color: $color-primary;
    font-weight: 600;
    cursor: pointer;
    font-size: 1rem;

    &:hover {
      color: color.scale($color-primary, $lightness: -20%);
      text-decoration: underline;
    }

    &.btn-cancel {
      color: $color-text-secundary;

      &:hover {
        color: color.scale($color-text-secundary, $lightness: -20%);
      }
    }
  }
}
