@use 'variables' as *;
@use "sass:color";

.modal-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9999;
  animation: fadeIn 0.25s ease-in-out;
}

.modal-content {
  background: $color-bg-secundary;
  border-radius: 12px;
  width: 90%;
  max-width: 450px;
  padding: 2rem;
  text-align: left;
  box-shadow: 0px 0px 4px rgba($color-primary, 0.4);
  animation: fadeInUp 0.25s ease-in-out;

  h2 {
    margin-bottom: 1.5rem;
    font-size: 1.2rem;
    font-weight: 600;
    color: $color-text;
    text-align: center;
  }
}

.options-list {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-bottom: 2.5rem;

  .option-item {
    display: flex;
    align-items: center;
    gap: 0.8rem;
    font-size: 1rem;
    color: $color-text;

    input[type='radio'] {
      accent-color: $color-primary;
      width: 18px;
      height: 18px;
      cursor: pointer;
    }

    span {
      cursor: pointer;
    }
  }
}

.modal-actions {
  display: flex;
  justify-content: flex-end;
  gap: 2rem;

  button {
    background: none;
    border: none;
    color: $color-primary;
    font-weight: 600;
    cursor: pointer;
    font-size: 1rem;
    transition: color 0.2s ease;

    &.btn-cancel {
      color: $color-text-secundary;
    }

    &:hover {
      text-decoration: underline;
    }

    &:disabled {
      opacity: 0.5;
      cursor: not-allowed;
    }
  }
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(15px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
