@use 'variables' as *;

// Encabezado superior
// .header-bar {
//   display: flex;
//   align-items: center;
//   justify-content: space-between;
//   margin-bottom: 2rem;

//   .back-btn {
//     display: flex;
//     align-items: center;
//     gap: 0.4rem;
//     background: none;
//     border: none;
//     color: $color-text;
//     font-weight: 600;
//     font-size: 1.1rem;
//     cursor: pointer;
//     transition: color 0.3s ease;

//     svg {
//       width: 22px;
//       height: 22px;
//     }

//     &:hover {
//       color: $color-primary;
//     }
//   }

//   h2 {
//     color: $color-text;
//     font-size: 1.4rem;
//     font-weight: 600;
//   }
// }

:host {
  display: block;
  width: 100%;
}

.header-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;

  .back-btn {
    display: flex;
    align-items: center;
    gap: 0.4rem;
    background: none;
    border: none;
    color: $color-text;
    font-weight: 600;
    font-size: 1.1rem;
    cursor: pointer;

    &:hover {
      color: $color-primary;
    }
  }

  h2 {
    font-size: 1.4rem;
    font-weight: 600;
  }

  &.default {
    margin-bottom: 2rem;
  }

  &.spaced {
    padding: 0 3rem;
    margin-bottom: 3rem;
  }
}

