@use 'variables' as *;

.historial-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  padding: 6rem 5rem 2rem 5rem;
  background-color: $color-bg;
}

// Loader
.loader {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 6rem;
  color: $color-text;

  img {
    width: 70px;
    margin-bottom: 2rem;
  }

  p{
     font-size: 1.1rem;
     color: $color-text-secundary;
  }
}

// Historial
.historial-layout {
  display: grid;
  grid-template-columns: 500px 1fr;
  gap: 2rem;
  align-items: start;
}

.section-actions {
  display: flex;
  justify-content: flex-end;
  margin: 0 1rem;
}

.btn-text {
  display: flex;
  justify-items: center;
  background: none;
  border: none;
  color: $color-primary;
  font-weight: 500;
  font-size: 1rem;
  transition: color 0.2s ease;
  cursor: pointer;
  gap: 0.5rem;

  svg {
    // cursor: pointer;
    pointer-events: none;
  }

  &:hover {
    text-decoration: none;
    color: $color-primary-hover;
    // transform: scale(1.05);
    // transition: transform 0.2s ease;
  }
}

.card-tittle {
  margin: 0 -2rem;
  background-color: $color-primary;
  //border-radius: 1rem;
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
  padding: 0.5rem 1.2rem;
  margin-bottom: 0.5rem;
  display: flex;
  align-items: center;

  h3 {
    margin: 0;
    font-weight: 600;
    color: white;
  }
}

//Columna izquierda
// Paciente
.card-paciente {
  background-color: $color-bg-secundary;
  border-radius: 1rem;
  margin-bottom: 2rem;
  margin-top: 2.3rem;
  padding: 0 2rem;
  //box-shadow: 0 0 6px rgba($color-primary, 0.2);

  .paciente-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1.5rem 0;
    text-align: center;
  }

  .avatar-container {
    position: relative;
    width: 80px;
    height: 80px;
    margin: 1rem 0 0.5rem 0;

    .avatar-img {
      width: 100%;
      height: 100%;
      border-radius: 50%;
      padding: 10px;
      background-color: $color-bg;
      border: 1px solid $color-primary;
      object-fit: cover;
    }

    .status-dot {
      position: absolute;
      bottom: 2px;
      right: 2px;
      width: 14px;
      height: 14px;
      border-radius: 50%;

      &.activo {
        background-color: $color-sucess;
      }

      &.bloqueado {
        background-color: $color-error;
      }
    }
  }

  .paciente-nombre {
    font-weight: 600;
    font-size: 1.1rem;
    margin-bottom: 2rem;
  }

  .pdf-actions {
    display: flex;
    gap: 0.8rem;
    margin-top: 6rem;
  }

  .btn-pdf {
    display: inline-flex;
    align-items: center;
    gap: 0.6rem;
    border: none;
    padding: 0.4rem 0;
    background: transparent;
    cursor: pointer;
    color: $color-text;
    font-weight: 600;
    font-size: 15px;
    margin-right: 2rem;
    margin-bottom: 2rem;

    img {
      width: 30px;
      height: 30px;
    }

    &:hover {
      opacity: 0.7;
    }
  }
}

// Columna derecha
.col-derecha {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

// Tratamientos
.card-tratamientos {
  background-color: $color-bg-secundary;
  border-radius: 1rem;
  margin-bottom: 2rem;
  padding: 0 2rem;

  .item {
    padding: 1rem 0;
    border-bottom: 1px solid rgba(0, 0, 0, 0.08);

    &:last-child {
      border-bottom: none;
    }
  }

  .item-top {
    display: flex;
    justify-content: left;
    align-items: center;
    gap: 2rem;
    margin-bottom: .4rem;
  }

  .tratamiento-nombre {
    font-size: 1.1rem;
    font-weight: 600;
    margin: 0;
  }

  .estado {
    display: flex;
    align-items: center;
    gap: .4rem;
    white-space: nowrap;
  }

  .dot {
    width: 10px;
    height: 10px;
    border-radius: 50%;

    &.activo {
      background-color: $color-sucess;
    }

    &.inactivo {
      background-color: $color-error;
    }
  }

  .estado-texto {
    font-size: .8rem;
    font-weight: 500;
    color: $color-text-secundary;
  }

  .info-tratamiento {
    color: $color-text-secundary;
    font-size: 1rem;
    margin: .5rem;
  }

  .item-bottom {
    display: flex;
    justify-content: flex-end;
    margin-top: 0rem;
  }

  .details-link {
    font-size: 1rem;
    color: $color-primary;
    cursor: pointer;

    &:hover {
      color: $color-primary-hover;
    }
  }

  .empty {
    color: $color-text-secundary;
    font-style: italic;
    padding: 1rem 0;
  }
}

// Sesiones
.card-sesiones {
  background-color: $color-bg-secundary;
  border-radius: 1rem;
  margin-bottom: 2rem;
  padding: 0 2rem;

  .empty {
    color: $color-text-secundary;
    font-style: italic;
    padding: 1rem 0;
  }
}

// Movil
@media (max-width: 900px) {
  .historial-layout {
    grid-template-columns: 1fr;
  }
}
