@use 'variables' as *;
@use 'typography' as *;

.input-wrapper {
  position: relative;
  display: flex;
  align-items: center;

  input {
    width: 500px;
    padding: 12px 45px;
    border: none;
    border: 1px solid $color-text-secundary;
    font-family: "Urbanist", sans-serif;
    font-size: 1rem;
    color: $color-text;
    border-radius: 1rem;
    background: $color-bg-secundary;
    outline: none;
    transition: all 0.3s ease;

    &:focus {
      border: 1px solid $color-primary;
      border-radius: 1rem;
      box-shadow: 0 0 4px rgba($color-primary, 0.4);
    }

    &:hover {
      border: 1px solid $color-primary;
    }
  }

  .input-icon {
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
    opacity: 0.7;
    color: $color-text;
  }

  label {
    position: absolute;
    top: 50%;
    left: 45px;
    transform: translateY(-50%);
    color: $color-text;
    opacity: 0.7;
    pointer-events: none;
    transition: all 0.3s ease;
    padding: 0 6px;
  }

  input:focus + label,
  input.has-content + label {
    top: -8px;
    left: 40px;
    font-size: 0.9rem;
    color: $color-primary;
    opacity: 1;
  }
}
