@use 'variables' as *;
@use 'typography' as *;
@use "sass:color";

.paciente-create-container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 6rem 2rem 2rem 2rem;
  background-color: $color-bg;
}

/* ───── Formulario ───── */
.form-grid {
  width: 70%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 4rem;

  h3 {
    color: $color-text-secundary;
    font-size: 1.2rem;
    font-weight: 700;
    margin-bottom: 2rem;
    padding-bottom: 0.3rem;
  }
}

/* ───── Footer con botón guardar ───── */
.form-footer {
  grid-column: 1 / span 2;
  display: flex;
  justify-content: center;
  margin-top: 2rem;

  .btn-save {
    width: 400px;
    background-color: $color-primary;
    color: white;
    font-weight: 600;
    border: none;
    padding: 14px 32px;
    border-radius: 1rem;
    cursor: pointer;
    font-size: 1.05rem;
    transition: background 0.3s ease;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.8rem;
    position: relative;

    &:hover {
      background-color: color.scale($color-primary, $lightness: -10%);
    }

    &:disabled {
      opacity: 0.75;
      cursor: not-allowed;
    }

    /* Spinner animado */
    .spinner {
      width: 18px;
      height: 18px;
      border: 3px solid white;
      border-top-color: transparent;
      border-radius: 50%;
      animation: spin 0.8s linear infinite;
    }
  }
}

/* ───── Switch  ───── */
.switch-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 120px;
  margin-top: 1rem;
  margin-left: 45px;

  label {
    font-weight: 500;
    color: $color-primary;
    font-size: .9rem;
  }

  .switch {
    position: relative;
    display: inline-block;
    width: 46px;
    height: 24px;

    input {
      opacity: 0;
      width: 0;
      height: 0;
    }

    .slider {
      position: absolute;
      cursor: pointer;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-color: $color-text-secundary;
      transition: 0.4s;
      border-radius: 24px;

      &::before {
        position: absolute;
        content: "";
        height: 18px;
        width: 18px;
        left: 3px;
        bottom: 3px;
        background-color: white;
        transition: 0.4s;
        border-radius: 50%;
      }
    }

    input:checked + .slider {
      background-color: $color-primary;
    }

    input:checked + .slider::before {
      transform: translateX(22px);
    }
  }
}

/* ───── Número de paciente ───── */
.paciente-numero {
  display: flex;
  flex-direction: column;
  margin-bottom: 2.5rem;

  label {
    margin-bottom: 2px;
    margin-left: 45px;
    font-size: 0.9rem;
    color: $color-primary;
  }

  .numero-container {
    position: relative;
    display: flex;
    align-items: center;
  }

  .numero-icon {
    position: absolute;
    left: 15px;
    width: 22px;
    height: 22px;
    color: $color-text;
    pointer-events: none;
  }

  .numero-box {
    width: 100%;
    background-color: $color-bg-secundary;
    color: $color-text;

    border-radius: 1rem;
    padding: 12px 20px 12px 55px; 
    font-family: "Urbanist", sans-serif;
    font-size: 1rem;
    text-align: left;
    
  }
}



/* Animación del spinner */
@keyframes spin {
  100% {
    transform: rotate(360deg);
  }
}
