@use 'variables' as *;

/* Urbanist de Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Urbanist:wght@400;500;600;700&display=swap');

body {
  font-family: 'Urbanist', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: $color-text;
  background-color: $color-bg;
  margin: 0;
  padding: 0;
}
