@use 'variables';
@use 'typography';

* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: variables.$color-primary;

  &:hover {
    color: variables.$color-primary-hover;
  }
}

button {
  font-family: inherit;
}
