@use 'variables' as *;
@use 'typography' as *;

.usuarios-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  padding: 6rem 5rem 2rem 5rem;
  background-color: $color-bg;
}

/* Top bar con buscador y botón */
.top-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1.5rem;
  margin-left: 2rem;
  gap: 2rem;

  app-input-field {
    flex: 1;
  }

  .btn-agregar {
    display: flex;
    align-items: center;
    gap: 0.5rem; 
    background-color: $color-primary;
    color: #fff;
    font-size: 1rem;
    font-weight: 600;
    border: none;
    border-radius: 1rem;
    padding: 0.6rem 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;

    svg {
      flex-shrink: 0;
    }

    &:hover {
      background-color: $color-primary-hover;
      transform: translateY(-1px);
    }

    &:active {
      transform: scale(0.98);
    }
  }
}

/* Filtros */
.filters {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 1rem;
  margin: 2rem 10rem 2rem 2rem;

  .buttons {
    display: flex;
    gap: 2rem;

    button {
      padding: 0.5rem 1rem;
      border-radius: 1rem;
      border: none;
      background-color: $color-secondary;
      cursor: pointer;
      color: $color-text;
      font-weight: 500;
      font-size: 1rem;

      &.active {
        background-color: $color-primary;
        color: white;
      }

      &:hover {
        background-color: $color-primary-hover;
        color: white;
      }
    }
  }

  .orden {
    label {
      color: $color-text;
      font-weight: 500;
      font-size: 1rem;
    }
   
    select {
      margin-left: 1rem;
      padding: 0.5rem 2rem;
      border-radius: 1rem;
      border: 1px solid $color-text;
      background-color: $color-bg-secundary;
      color: $color-text;
      font-weight: 500;
      font-size: 1rem;
    }
  }

  .total {
    color: $color-text;
    font-weight: 600;
    font-size: 1rem;
  }
}

/* Loader */
.loader {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 6rem;
  color: $color-text;

  img {
    width: 70px;
    margin-bottom: 2rem;
  }

  p{
     font-size: 1.1rem;
     color: $color-text-secundary;
  }
}

/* Sin resultados */
.no-results {
  text-align: center;
  color: $color-text-secundary;
  margin-top: 4rem;
  font-size: 1.1rem;
}

/* Paginación */
.pagination {
  margin-top: auto; 
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  padding-top: 4rem;

  button {
    background-color: $color-primary;
    color: white;
    border: none;
    padding: 0.6rem 1.2rem;
    border-radius: 1rem;
    cursor: pointer;
    font-weight: 600;
    font-size: 1rem;
    transition: background-color 0.3s;

    &:disabled {
      opacity: 0.6;
      cursor: not-allowed;
    }

    &:hover:not(:disabled) {
      background-color: $color-primary-hover;
    }
  }
}

// Grid 
.usuarios-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
  gap: 2rem;
}

// Cards
.usuario-card {
  background-color: $color-bg-secundary;
  border-left: 8px solid transparent;
  border-radius: 12px;
  padding: 1rem 1.2rem;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s ease, box-shadow 0.2s ease;

  &.habilitado {
    border-left-color: $color-sucess;
  }

  &.bloqueado {
    border-left-color: $color-error;
  }

  &:hover {
    transform: translateY(-3px);
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
  }

  .card-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;

    .avatar-container {
      position: relative;
      top: 5px;
      width: 55px;
      height: 55px;
      flex-shrink: 0;
      display: flex;
      align-items: center;
      gap: 0.5rem;

      .avatar-img {
        width: 50px;
        height: 50px;
        padding: 5px;
        border-radius: 50%;
        object-fit: cover;
        background-color: $color-bg;
        border: 3px solid $color-bg;
      }

      .status-dot {
        position: absolute;
        bottom: 0px;
        right: 5px;
        width: 14px;
        height: 14px;
        border-radius: 50%;
        &.activo {
          background-color: $color-sucess;
        }

        &.bloqueado {
          background-color: $color-error;
        }
      }

      .status-text-inline {
        position: absolute;
        bottom: -2px;
        left: 55px;
        font-size: 0.8rem;
        font-weight: 400;

        &.activo {
          color: $color-sucess;
        }

        &.bloqueado {
          color: $color-error;
        }
      }
    }

    .info {
      flex: 1;
      display: flex;
      flex-direction: column;
      justify-content: center;

      .paciente-id {
        font-size: 0.85rem;
        color: $color-text-secundary;
        margin: 0;
      }

      h3 {
        font-size: 1.1rem;
        font-weight: 600;
        color: $color-text;
        margin: 2px 0 0 0;
      }
    }
  }

  hr {
    border: none;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    margin: 0.8rem 0;
  }

  .card-footer {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 2rem;

    label {
      display: block;
      font-size: 0.9rem;
      color: $color-text-secundary;
      margin: 0;
    }

    p {
      display: flex;               
      align-items: center;
      gap: 0.4rem;               
      font-size: 1rem;
      font-weight: 500;
      color: $color-text;
      margin: 8px 0;

      svg {
        width: 20px;
        height: 20px;
        color: $color-text;
      }
    }

    .rol {
      text-transform: capitalize;
    }
  }

  .menu {
    position: relative;

    .menu-btn {
      background: none;
      border: none;
      color: $color-text-secundary;
      cursor: pointer;
      padding: 0.2rem;
      transition: color 0.2s ease;

      &:hover {
        color: $color-text;
      }
    }

    .menu-dropdown {
      position: absolute;
      top: 1.5rem;
      right: 0;
      background-color: $color-bg-secundary;
      border: 1px solid rgba(0, 0, 0, 0.1);
      border-radius: 8px;
      box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
      display: flex;
      flex-direction: column;
      min-width: 180px;
      z-index: 20;
      padding: 0.3rem 0;

      button {
        background: none;
        border: none;
        text-align: left;
        padding: 0.6rem 1rem;
        font-size: 0.9rem;
        color: $color-text;
        cursor: pointer;
        transition: background-color 0.2s ease;

        &:hover {
          background-color: rgba(0, 0, 0, 0.05);
        }

        &.delete {
          color: $color-error;

          &:hover {
            background-color: rgba(255, 0, 0, 0.08);
          }
        }
      }
    }
  }
}