@use 'variables' as *;
@use 'typography' as *;
@use "sass:color";

/* Navbar */
.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 60px;
  background-color: $color-bg;
  color: $color-text;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1.5rem;
  box-shadow: 0 2px 6px rgba($color-primary, 0.2);
  z-index: 999;

  /* Fix blur Chromium */
  transform: translateZ(0);
  backface-visibility: hidden;

  .navbar-left,
  .navbar-right {
    display: flex;
    align-items: center;
  }

  .hamburger {
    background: none;
    border: none;
    cursor: pointer;
    margin-right: 2.5rem;

    svg {
      fill: $color-text;
    }
  }

  .nav-item {
    display: flex;
    align-items: center;
    margin-right: 2.5rem;
    cursor: pointer;
    font-weight: 200;
    font-size: 1rem;
    color: $color-text;
    text-decoration: none;
    transition: color 0.2s ease;

    &.active,
    &:hover {
      color: $color-primary;
      font-weight: 600;

      .icon {
        background-color: $color-primary;
      }
    }
  }

  .logo-container .logo {
    width: 40px;
    height: 40px;
  }
}

/* Iconos con mask*/
.icon {
  width: 22px;
  height: 22px;
  margin-right: 0.5rem;
  display: inline-block;
  background-color: $color-text;

  mask-size: contain;
  mask-repeat: no-repeat;
  mask-position: center;

  -webkit-mask-size: contain;
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-position: center;
}

/* Icon mapping */
.icon.home {
  mask-image: url('/assets/icons/home.png');
  -webkit-mask-image: url('/assets/icons/home.png');
}

.icon.pacientes {
  mask-image: url('/assets/icons/pacientes.png');
  -webkit-mask-image: url('/assets/icons/pacientes.png');
}

.icon.servicios {
  mask-image: url('/assets/icons/servicios.png');
  -webkit-mask-image: url('/assets/icons/servicios.png');
}

.icon.pagos {
  mask-image: url('/assets/icons/transacciones.png');
  -webkit-mask-image: url('/assets/icons/transacciones.png');
}

.icon.reportes {
  mask-image: url('/assets/icons/reportes.png');
  -webkit-mask-image: url('/assets/icons/reportes.png');
}

.icon.usuarios {
  mask-image: url('/assets/icons/usuarios.png');
  -webkit-mask-image: url('/assets/icons/usuarios.png');
}

/* Overlay para cerrar drawer */
.drawer-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.4);
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.5s ease-in-out;
  z-index: 1000;

  &.open {
    opacity: 1;
    pointer-events: all;
  }
}

.drawer {
  position: fixed;
  top: 0;
  left: 0;
  transform: translateX(-100%);
  transition: transform 0.5s ease-in-out;
  width: 300px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: $color-bg;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  box-shadow: 4px 0 12px rgba($color-primary, 0.15);
  z-index: 1001;

  &.open {
    transform: translateX(0);
  }

  .drawer-header {
    display: flex;
    align-items: center;
    padding: 1.5rem;
    background-color: $color-primary;
    border-top-right-radius: 12px;

    .avatar {
      background-color: $color-bg-secundary;
      border-radius: 50%;
      padding: 6px;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 40px; 
      height: 40px;

      svg {
        width: 25px;
        height: 25px;
        color: $color-primary;
      }
    }

    .user-info {
      color: $color-bg-secundary;
      margin-left: 1rem;
      h3 { margin: 0; font-size: 1rem; margin-bottom: 4px;}
      p { margin: 0; font-size: 0.8rem; }
    }
  }

  .title-menu{
    padding-left: 1rem;
    color: $color-text;
    opacity: 0.7;
    font-weight: 600;
  }

  .drawer-content {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    padding: 1rem;
  }

  .drawer-footer {
    padding: 1rem;

    a {
      display: flex;
      align-items: center;
      color: $color-text;
      text-decoration: none;
      cursor: pointer;
      font-weight: 600;

      svg { margin-right: 0.75rem; fill: currentColor; }

      &:hover { color: $color-primary; }
    }
  }
}



