@use 'variables' as *;

.documento-item {
  position: relative;
  //background-color: $color-bg;
  //border-radius: 1rem;
  padding: 2rem 1rem;
  text-align: center;
  //transition: box-shadow 0.2s ease;
  //cursor: pointer;
}

/* ICONO */
.icono {
  margin-bottom: .6rem;

  img {
    width: 64px;
    height: 64px;
    object-fit: contain;
  }
}

.icono img {
  filter: drop-shadow(0 2px 4px rgba(0,0,0,.12));
}

/* INFO */
.info {
  .nombre {
    display: block;
    font-size: .95rem;
    font-weight: 600;
    color: $color-text;
    margin-bottom: .2rem;
    word-break: break-word;
  }

  .fecha {
    font-size: .8rem;
    color: $color-text-secundary;
  }
}

// Menu
.menu {
    position: absolute;
    top: .4rem;
    right: .4rem;

    .menu-btn {
        background: none;
        border: none;
        color: $color-text-secundary;
        cursor: pointer;
        padding: 0.2rem;
        transition: color 0.2s ease;

        &:hover {
            color: $color-text;
        }
    }

    .menu-dropdown {
        position: absolute;
        top: 1.5rem;
        right: 0;
        background-color: $color-bg-secundary;
        border-radius: 8px;
        box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
        z-index: 20;
        padding: 0.3rem 0;

        button {
        display: block;
        width: 100%;
        background: none;
        border: none;
        text-align: left;
        padding: 0.6rem 1rem;
        font-size: 0.9rem;
        color: $color-text;
        cursor: pointer;
        transition: background-color 0.2s ease;

        &:hover {
            background-color: rgba(0, 0, 0, 0.05);
        }

        &.delete {
            color: $color-error;

            &:hover {
            background-color: rgba(255, 0, 0, 0.08);
            }
        }
        }
    }
}

/* MENU */
// .menu {
//   position: absolute;
//   top: .4rem;
//   right: .4rem;

//   .menu-btn {
//     background: none;
//     border: none;
//     cursor: pointer;
//     color: $color-text-secundary;
//     padding: .2rem;

//     &:hover {
//       color: $color-text;
//     }
//   }

//   .menu-dropdown {
//     position: absolute;
//     top: 1.8rem;
//     right: 0;
//     background: white;
//     border-radius: .6rem;
//     box-shadow: 0 6px 20px rgba(0,0,0,.15);
//     overflow: hidden;
//     z-index: 10;

//     button {
//       display: block;
//       width: 100%;
//       padding: .6rem 1rem;
//       background: none;
//       border: none;
//       text-align: left;
//       font-size: .9rem;
//       cursor: pointer;

//       &:hover {
//         background-color: rgba(0,0,0,.05);
//       }

//       &.delete {
//         color: #d32f2f;
//       }
//     }
//   }
// }
