@use 'variables' as *;
@use 'typography' as *;
@use "sass:color";

.usuario-create-container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 6rem 2rem 2rem 2rem;
}

.form-grid {
  width: 70%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 4rem;

  app-input-field-form {
    display: block;
    margin-bottom: 3rem;
  }
}

.select-wrapper {
  display: flex;
  flex-direction: column;
  margin-bottom: 2.5rem;

  label {
    font-weight: 600;
    color: $color-text;
    margin-bottom: 0.5rem;
  }

  select {
    padding: 12px;
    border-radius: 1rem;
    border: 1px solid $color-text-secundary;
    background: $color-bg-secundary;
    color: $color-text;
    font-family: "Urbanist", sans-serif;
    outline: none;
    transition: border 0.3s ease;

    &:focus {
      border-color: $color-primary;
      box-shadow: 0 0 4px rgba($color-primary, 0.4);
    }
  }
}

.switch-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 180px;
  margin-top: 1rem;

  label {
    font-weight: 600;
    color: $color-text;
    font-size: 1rem;
  }

  .switch {
    position: relative;
    display: inline-block;
    width: 46px;
    height: 24px;

    input {
      opacity: 0;
      width: 0;
      height: 0;
    }

    .slider {
      position: absolute;
      cursor: pointer;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-color: $color-text-secundary;
      transition: 0.4s;
      border-radius: 24px;

      &::before {
        position: absolute;
        content: "";
        height: 18px;
        width: 18px;
        left: 3px;
        bottom: 3px;
        background-color: white;
        transition: 0.4s;
        border-radius: 50%;
      }
    }

    input:checked + .slider {
      background-color: $color-primary;
    }

    input:checked + .slider::before {
      transform: translateX(22px);
    }
  }
}

.form-footer {
  grid-column: 1 / span 2;
  display: flex;
  justify-content: center;
  margin-top: 2rem;

  .btn-save {
    width: 400px;
    background-color: $color-primary;
    color: white;
    font-weight: 600;
    border: none;
    padding: 14px 32px;
    border-radius: 1rem;
    cursor: pointer;
    font-size: 1.05rem;
    transition: background 0.3s ease;

    &:hover {
      background-color: color.scale($color-primary, $lightness: -10%);
    }
  }
}

