<div class="info-clinica-container">
  <app-back-header titulo="Información de la clínica"></app-back-header>

  @if (info) {
    <div class="info-clinica-content">

      <!-- LOGO -->
      <div class="logo-card">
        <img [src]="imagenPreview" alt="Logo clínica" />
        <label class="editar-logo">
          <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
            <path fill="currentColor" d="M5 21q-.825 0-1.412-.587T3 19V5q0-.825.588-1.412T5 3h6.525q.5 0 .75.313t.25.687t-.262.688T11.5 5H5v14h14v-6.525q0-.5.313-.75t.687-.25t.688.25t.312.75V19q0 .825-.587 1.413T19 21zm4-7v-2.425q0-.4.15-.763t.425-.637l8.6-8.6q.3-.3.675-.45t.75-.15q.4 0 .763.15t.662.45L22.425 3q.275.3.425.663T23 4.4t-.137.738t-.438.662l-8.6 8.6q-.275.275-.637.438t-.763.162H10q-.425 0-.712-.288T9 14m12.025-9.6l-1.4-1.4zM11 13h1.4l5.8-5.8l-.7-.7l-.725-.7L11 11.575zm6.5-6.5l-.725-.7zl.7.7z" />
          </svg>
          Cambiar logo
          <input type="file" accept="image/*" hidden (change)="seleccionarImagen($event)" />
        </label>
      </div>

      <!-- CAMPOS -->
        <div class="card">

            <!-- NOMBRE -->
            <div class="fila">
                <span class="label">Nombre</span>

                @if (campoEditando === 'nombreClinica') {
                <input [(ngModel)]="valorTemporal" />

                <div class="acciones-edicion">
                    <button class="ok" (click)="guardar()">✔</button>
                    <button class="cancel" (click)="cancelar()">✖</button>
                </div>

                } @else {
                <span>{{ info.nombreClinica }}</span>
                <button class="edit" (click)="editarCampo('nombreClinica', info.nombreClinica)">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                        <path fill="currentColor" d="M5 21q-.825 0-1.412-.587T3 19V5q0-.825.588-1.412T5 3h6.525q.5 0 .75.313t.25.687t-.262.688T11.5 5H5v14h14v-6.525q0-.5.313-.75t.687-.25t.688.25t.312.75V19q0 .825-.587 1.413T19 21zm4-7v-2.425q0-.4.15-.763t.425-.637l8.6-8.6q.3-.3.675-.45t.75-.15q.4 0 .763.15t.662.45L22.425 3q.275.3.425.663T23 4.4t-.137.738t-.438.662l-8.6 8.6q-.275.275-.637.438t-.763.162H10q-.425 0-.712-.288T9 14m12.025-9.6l-1.4-1.4zM11 13h1.4l5.8-5.8l-.7-.7l-.725-.7L11 11.575zm6.5-6.5l-.725-.7zl.7.7z" />
                    </svg>
                </button>
                }
            </div>

            <!-- RFC -->
            <div class="fila">
                <span class="label">RFC</span>

                @if (campoEditando === 'rfc') {
                <input [(ngModel)]="valorTemporal" />

                <div class="acciones-edicion">
                    <button class="ok" (click)="guardar()">✔</button>
                    <button class="cancel" (click)="cancelar()">✖</button>
                </div>
                
                } @else {
                <span>{{ info.rfc }}</span>
                <button class="edit" (click)="editarCampo('rfc', info.rfc)">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                        <path fill="currentColor" d="M5 21q-.825 0-1.412-.587T3 19V5q0-.825.588-1.412T5 3h6.525q.5 0 .75.313t.25.687t-.262.688T11.5 5H5v14h14v-6.525q0-.5.313-.75t.687-.25t.688.25t.312.75V19q0 .825-.587 1.413T19 21zm4-7v-2.425q0-.4.15-.763t.425-.637l8.6-8.6q.3-.3.675-.45t.75-.15q.4 0 .763.15t.662.45L22.425 3q.275.3.425.663T23 4.4t-.137.738t-.438.662l-8.6 8.6q-.275.275-.637.438t-.763.162H10q-.425 0-.712-.288T9 14m12.025-9.6l-1.4-1.4zM11 13h1.4l5.8-5.8l-.7-.7l-.725-.7L11 11.575zm6.5-6.5l-.725-.7zl.7.7z" />
                    </svg>
                </button>
                }
            </div>

            <!-- DIRECCIÓN -->
            <div class="fila">
                <span class="label">Dirección</span>

                @if (campoEditando === 'direccion') {
                <input [(ngModel)]="valorTemporal" />

                <div class="acciones-edicion">
                    <button class="ok" (click)="guardar()">✔</button>
                    <button class="cancel" (click)="cancelar()">✖</button>
                </div>
               
                } @else {
                <span>{{ info.direccion }}</span>
                <button class="edit" (click)="editarCampo('direccion', info.direccion)">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                        <path fill="currentColor" d="M5 21q-.825 0-1.412-.587T3 19V5q0-.825.588-1.412T5 3h6.525q.5 0 .75.313t.25.687t-.262.688T11.5 5H5v14h14v-6.525q0-.5.313-.75t.687-.25t.688.25t.312.75V19q0 .825-.587 1.413T19 21zm4-7v-2.425q0-.4.15-.763t.425-.637l8.6-8.6q.3-.3.675-.45t.75-.15q.4 0 .763.15t.662.45L22.425 3q.275.3.425.663T23 4.4t-.137.738t-.438.662l-8.6 8.6q-.275.275-.637.438t-.763.162H10q-.425 0-.712-.288T9 14m12.025-9.6l-1.4-1.4zM11 13h1.4l5.8-5.8l-.7-.7l-.725-.7L11 11.575zm6.5-6.5l-.725-.7zl.7.7z" />
                    </svg>
                </button>
                }
            </div>

            <!-- TELÉFONO -->
            <div class="fila">
                <span class="label">Teléfono</span>

                @if (campoEditando === 'telefono') {
                <input [(ngModel)]="valorTemporal" />

                <div class="acciones-edicion">
                    <button class="ok" (click)="guardar()">✔</button>
                    <button class="cancel" (click)="cancelar()">✖</button>
                </div>
                } @else {
                <span>{{ info.telefono }}</span>
                <button class="edit" (click)="editarCampo('telefono', info.telefono)">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                        <path fill="currentColor" d="M5 21q-.825 0-1.412-.587T3 19V5q0-.825.588-1.412T5 3h6.525q.5 0 .75.313t.25.687t-.262.688T11.5 5H5v14h14v-6.525q0-.5.313-.75t.687-.25t.688.25t.312.75V19q0 .825-.587 1.413T19 21zm4-7v-2.425q0-.4.15-.763t.425-.637l8.6-8.6q.3-.3.675-.45t.75-.15q.4 0 .763.15t.662.45L22.425 3q.275.3.425.663T23 4.4t-.137.738t-.438.662l-8.6 8.6q-.275.275-.637.438t-.763.162H10q-.425 0-.712-.288T9 14m12.025-9.6l-1.4-1.4zM11 13h1.4l5.8-5.8l-.7-.7l-.725-.7L11 11.575zm6.5-6.5l-.725-.7zl.7.7z" />
                    </svg>
                </button>
                }
            </div>

        </div>

    </div>
  }
</div>