@use 'variables' as *;
@use 'typography' as *;
@use "sass:color";

.ficha-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  padding: 6rem 5rem 2rem 5rem;
  background-color: $color-bg;
}

/* Secciones */
.cards-section {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  width: 800px; 
  margin: 0 auto; 
  align-items: stretch; 

  .section {
    h3 {
        color: $color-text-secundary;
        font-size: 1.2rem;
        font-weight: 600;
        margin-bottom: 0.8rem;
    }

    .card {
        background-color: $color-bg-secundary;
        border-radius: 12px;
        padding: 3rem;
        box-shadow: 0 2px 6px rgba(0, 0, 0, 0.08);

        &.grid-info {
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(200px, 1fr)); 
            gap: 1.5rem;
        }

        .info-item {
            display: flex;
            flex-direction: column;
            align-items: flex-start; 
            text-align: center;
            gap: 0.5rem;

            .label {
                display: flex;
                align-items: center;
                justify-content: center;
                gap: 0.4rem;
                color: $color-text-secundary;
                font-weight: 500;
                font-size: 0.9rem;

                svg {
                width: 18px;
                height: 18px;
                opacity: 0.8;
                }
            }

            p {
                color: $color-text;
                font-size: 1rem;
                font-weight: 600;
                margin: 0 0 0 1rem;
            }
        } 
    }
  }
}

/* Botones inferiores */
.action-buttons {
  display: flex;
  justify-content: center;
  gap: 5rem;
  margin: 4rem 0 3rem 0;

  .btn {
    padding: 0.8rem 1.4rem;
    border: none;
    border-radius: 1rem;
    font-weight: 600;
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-size: 1rem;

    &.btn-historial {
      background-color: $color-primary;
      color: white;

      &:hover {
        background-color: $color-primary-hover;
      }
    }

    &.btn-editar {
      background-color: $color-primary;
      color: white;

      &:hover {
        background-color: $color-primary-hover;
      }
    }

    &.btn-eliminar {
      background-color: #e53935;
      color: white;

      &:hover {
        background-color: color.adjust(#e53935, $lightness: -12%);
      }
    }
  }
}

/* Estado sin paciente */
.sin-paciente {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 60vh;
  text-align: center;

  p {
    color: $color-text;
    font-size: 1.1rem;
    margin-bottom: 1rem;
  }

  .back-btn {
    background-color: $color-primary;
    color: white;
    padding: 0.6rem 1.2rem;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-weight: 600;
  }
}