@use 'variables' as *;

.tratamiento-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  padding: 6rem 5rem 2rem 5rem;
  background-color: $color-bg;
}

// Loader
.loader {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 6rem;
  color: $color-text;

  img {
    width: 70px;
    margin-bottom: 2rem;
  }

  p{
     font-size: 1.1rem;
     color: $color-text-secundary;
  }
}

.content-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
}

.col-izquierda,
.col-derecha {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.col-izquierda {
    margin-top: 2.3rem;
}

.section-actions {
  display: flex;
  justify-content: flex-end;
  margin: 0 1rem;

  .btn-text {
    display: flex;
    justify-items: center;
    background: none;
    border: none;
    color: $color-primary;
    font-weight: 500;
    font-size: 1rem;
    transition: color 0.2s ease;
    cursor: pointer;
    gap: 0.5rem;

    svg {
        // cursor: pointer;
        pointer-events: none;
    }

    &:hover {
        text-decoration: none;
        color: $color-primary-hover;
        // transform: scale(1.05);
        // transition: transform 0.2s ease;
    }
  }

  .btn-text:disabled {
    opacity: 0.5;
    cursor: not-allowed;
    pointer-events: none;
  }

}

.card {
  background-color: $color-bg-secundary;
  margin-bottom: 2rem;
  border-radius: 1rem;
  padding: 0 2rem;
  //box-shadow: 0 8px 20px rgba(0,0,0,.05);
  
  .card-tittle {
    margin: 0 -2rem;
    background-color: $color-primary;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
    padding: 0.5rem 1.2rem;
    margin-bottom: 0.5rem;
    //margin-top: 1rem;
    display: flex;
    align-items: center;

    h3 {
        margin: 0;
        font-weight: 600;
        color: white;
    }
  }

  p {
    margin-bottom: 1rem;
    color: $color-text;
  }

  .empty {
    color: $color-text-secundary;
    font-style: italic;
    padding: 1rem 0;
  }

  .observaciones {
    margin-top: .3rem;
    line-height: 1;
  }

  .observaciones.sin-boton {
    margin-bottom: 2.5rem;
  }
}

.card-paciente {
    padding-bottom: 1.2rem;
    p {
        color: $color-text-secundary;

        strong {
            color: $color-text
        }
    }
}

.btn-finalizar {
  margin: 4rem 0rem 2rem 0rem;
  align-self: flex-start;
  background-color: $color-primary;
  color: white;
  border: none;
  padding: .6rem 1.4rem;
  border-radius: .6rem;
  font-weight: 500;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color .3s ease;

  &:hover {
    background-color: $color-primary-hover;
  }
}


//Documentos
.documentos-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(140px, 1fr));
  gap: 1rem;
  padding-bottom: 1rem;
}
